h1{
    text-align: center;
}

#animeName{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media(width >= 1200px){
    #animeName{
         margin-top: -215px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 98vh;
    }
    }
}

