
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html{
    overflow-x: hidden;
}

body{
    background-color: #08081D;
    max-width: 100vw; 
}

 
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 1em;
    flex-wrap: wrap;
}
.titleWith{
    color: white;
}

#logo{
    width: 183px;
}
#iconBurge{
    background-color: #1E1E40;
    width: 100px;
    height: 100px;
}
#iconBurger div{
    background-color: #22DEFA;
    width: 40px;
    height: 5px;
    margin: 0.5em;
    border-radius: 50px;
    z-index: 2;
    position: relative;
    
}
#burger{
    position: fixed;
    top: 0;
    right:-100%;
    width: 100%;
    margin: 0;
    padding: 33% 0;
    background-color: #1E1E40;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 1;
}
 #userName{
    font-size: 2em;
 } 
#burger ul li{
    list-style: none;
    padding: 1em;
}
ul{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#burger #link li a, #burger #menuInicio li a{
    font-size: 2em;
}
#menuInicio{
    display: flex;
    
}
#burger ul li a{
    text-decoration: none;
    text-align: center;
}
#menu{
    display: none;
}
#icon li img{
    width: 3em;
}
#icon{
    display: flex;
    flex-direction: row;
}
input:checked ~ #burger{
    right: 0;
}
#user{
    display: flex;
    gap: 0 1em;
    align-items: center;
}
#userName{
    display: none;
}
.titulos{
    font-family: "Roboto", serif;
}
footer{
    background-color: #EFEFEF;
    padding: 1.5em;
    text-align: center;
}

footer ul li{
    list-style: none; 
    padding: 1em;
}
footer p{
    color: black;
}
footer ul li a{
    text-decoration: none;
    color: #3D3D47;
}

#iconos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.tarjetaDos{
    width:  212px;
    display: flex;
    flex-direction: column;
    gap: 1em 0 ;
    padding: 1em;
    
    }
    .tarjetaDos .tituloH3{
        text-align: center;
        font-size: 13px;
    }
    .tarjetaDos img{
        border-radius: 25px 25px 0 0;
        width: 100%;
        height: 239px;
        object-fit: cover;
        align-self: stretch;
        justify-self: stretch;
    }
    .conenedorTitulo{
        border-radius: 0 0  25px 25px;
        height: 120px;
        padding: 0.5em 1em;
        display: grid;
        justify-content: center;
        align-items: center;
        border: #1E1E40 2px solid;
    }
    
    select, #searchL{
        background-color: transparent;
        font-size: 1.5rem;
        border: 2px solid #1E1E40;
        padding: 14px;
        border-radius: 10px;
        margin: auto;
        width: 100%;
    }
    .gridCards{
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0 1em;
    flex-wrap: wrap; 
    }

    .botones{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1em;
    }
    .botones button{
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;;
        cursor: pointer;
    }
    .botones button img{
        width: 5em;
        padding: 1em;
    }

    .titleBlue{
        color: #22DEFA;
    }
    .buttonBlue{
        background-color: #22DEFA;
        color: #08081D;
        border: none;
        padding: 1em;
        border-radius: 15px;
        cursor: pointer;
        transition: background-color 0.5s;
        font-size: 1.5rem;
    }
    #animeName div .buttonBlue{
        width: 100%;
    }

@media(width >= 1200px){

    #iconBurger, #iconBurge div {
        display: none;
    }
    section{
        max-width: 1450px;
        height: auto;
    }
    header{
        position: static;
        overflow: visible;
    }
    #nav{
        display: grid;
        grid-template-columns: 17% 83%; 
        padding: 1em; 
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
        z-index: 4;
        max-width: 1450px;
    }
    #userName{
        font-size: 20px;
        font-weight: bold;
     }
    #logo{
        width: 245px;
    }
    #burger{
        background-color: transparent;
        box-shadow: none;
        display: grid;
        gap: 1em 0;
        grid-template-columns: 78% 22% ;
        align-items: center;
        padding: 20px;
        position: static;
    }
    #burger ul{
        flex-direction: row;
    }
    
    #nav #icon li {
        
        margin: 0 1em;
        height:65px;
    }
    #menuInicio, #nav #icon li{
        background-color: rgba(16, 32, 59, 0.621);
        border-radius: 15px;
    }

    
  #nav  #link li a{
        border-radius: 12px;
        padding: 10px;
        transition: transform 0.5s;
    }
    #nav  #link li a, #nav #menuInicio li a{
        font-size: 16px;
        font-weight: bold;
    } 
#nav #link li a:hover {
    color: #22DEFA;
  }
  .buttonBlue:hover{
    background-color: #67ebff;
    transition:  0.5s;
    box-shadow: 0px 0px 10px #67ebff;
    color: #08081D;
}
    #icon li img{
        width: 2.5em;
    }
    #icon li:hover{
        transform: scale(1.1);
        transition: transform 0.5s;
        box-shadow: #1E1E40 2px 2px 6px;
    }
    #link{
        justify-self: center;
        grid-column: 1/2;
        align-self: center;
        
    }
    #icon{
        justify-self: end;
    }

    #menuInicio{
        display: none;
        grid-template-columns: repeat(1, 1fr);
        grid-column: 1/3;
        justify-self: end;
        text-align: end;
    }
    .tarjetaDos{
        width: 100%;
        cursor: pointer;
    }
    .tarjetaDos img{
        height: 293px;
        width: 100%;
        object-fit: cover;
    }
    .tarjetaDos:hover {
        transform: perspective(1000px) rotateY(20deg);
        transition: transform 0.5s;
    }
    .tarjetaDos .tituloH3{
        font-size: 15px;
    }

    footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 1em;
        padding: 1em;
        align-items: center;
        padding: 2em;
        width: 100%;
    }
    footer p{
        padding: 1.2em 1em 0 1em;
        grid-column: 1/2;
        text-align: start;
    }
    footer ul{
        display: flex;
        flex-direction: row;
        grid-column: 1/2;
        text-align: start;
    }
    footer img{
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: end;
    }
    footer #iconos{
        grid-column: 2/3;
        justify-self: end;
    }
    .gridCards{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1em;
    }
    .botones{
        justify-content: center;
    }
    .botonn{
        margin: 1em;
    }
    .botonn:hover{
        background-color: #1E1E40;
        border-radius: 15px;
        transition: background-color 0.5s;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    }
}
@media(width >= 600px) and (width < 1200px) {
    #burger #link li a, #burger #menuInicio li a{
        font-size: 1.5em;
    }
    nav ul{ 
        flex-direction: row;
    }
    #burger{
        top: -117px;
    }

   
}

